<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }} | 6D Labs</title>
		{% if page.tags %}<meta content="{{page.tags | join: ', '}}" name="keywords" />{% endif %}
		{% if page.summary %}<meta content="{{ page.summary }}" name="description" />{% endif %}
		<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
		<link rel="stylesheet" href="http://labs.sixdimensions.com/css/base.css" />
		<link rel="stylesheet" href="http://labs.sixdimensions.com/css/skeleton.css" />
		<link rel="stylesheet" href="http://labs.sixdimensions.com/css/layout.css" />
		<link rel="shortcut icon" href="http://labs.sixdimensions.com/images/favicon.png" />
	</head>
	<body>
		<div class="container">
			<div id="header" class="seventeen columns">
				<div id="topbar">
					<a href="http://www.sixdimensions.com/">SixDimensions.com</a>
					<a href="http://www.sixdimensions.com/?cat=3">Company Blog</a>
					<a href="http://www.sixdimensions.com/contact-us">Contact Us</a>
					<div id="search-box">
						<form action="http://labs.sixdimensions.com/search" method="get" id="search-block-form">
							<input type="text" id="q" name="q" value="" size="15" maxlength="128" placeholder="Search">
							<input type="submit" value="Search" class="form-submit">
						</form>
					</div>
				</div>
				<h1>
					<a href="{{ site.baseurl }}/" id="logo">
						<img width="300" height="84" src="http://labs.sixdimensions.com/images/logo.png" alt="Six Dimensions Labs">
					</a>
				</h1>
				<div style="clear: both"></div>
			</div>
			<div class="three columns sidebar">
				<div id="nav">
					{% include nav.html %}
				</div>
			</div>
			<div class="seventeen columns main">
				<div class="eleven columns">
					{{ content }}
				</div>
				<div class="five columns">
					<h2><a href="http://labs.sixdimensions.com/blog.xml" title="Blog RSS Feed">Follow Our Blog Posts</a></h2>
					<div class="pusher-container">
					</div>
					<div class="aggregator pusher">
						<h2>Latest CQ News</h2>
						<ul></ul>
					</div>
				</div>
				<div style="clear: both"></div>
			</div>
			<div id="footer" class="seventeen columns">
				<div class="social-media">
					<b>Find Us On:</b>
					<a href="http://www.linkedin.com/company/108381?trk=pro_other_cmpy">LinkedIn</a> | 
					<a href="https://www.facebook.com/pages/Six-Dimensions/114634888567385">Facebook</a> | 
					<a href="http://twitter.com/#!/6dimensions">Twitter</a>
				</div>
				<div style="clear: both"></div>
				<div id="copyright">
					&copy; Copyright Six Dimensions 2013 &nbsp; &nbsp; <a href="http://www.sixdimensions.com">sixdimensions.com</a> &nbsp; |
					&nbsp; <a href="http://www.sixdimensions.com/privacy-policy/">Privacy Policy</a> &nbsp; |
					&nbsp; <a href="http://www.sixdimensions.com/terms-of-use/">Terms of Use</a>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var track = true;
			try {
				if (window.location.search == '?track=false') {
					window.localStorage.setItem('track', 'false');
					track = false;
				}
				if (window.localStorage.getItem('track') == 'false') {
					track = false;
				}
			} catch(e) {
				// problem occurred with local storage
			}
			var _gaq = _gaq || [];
			if(track){
				_gaq.push(['_setAccount', '{{ site.ga_account }}']);
				_gaq.push(['_setDomainName', '{{ site.ga_domain }}']);
				_gaq.push(['_trackPageview']);
				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			}
			var PageInfo = {
				title: "{{ page.title }}",
				url: "{{site.url}}{{page.url | remove: 'index.html' | replace: ' ', '%20' }}",
				tags: ["{{page.tags | join: '", "'}}"],
				author: "{{ page.author }}",
				summary: "{% if page.summary %}{{ page.summary }}{% else %}{{ page.content | strip_html | truncatewords:25}}{% endif %}",
				layout: "{{ page.layout }}"
			}
		</script>
		<script src="http://labs.sixdimensions.com/js/jquery-1.10.2.min.js"></script>
		<script src="http://labs.sixdimensions.com/js/google-code-prettify/prettify.js"></script>
		<script src="http://labs.sixdimensions.com/js/custom.js"></script>		
		<script src="http://labs.sixdimensions.com/js/pushers.js"></script>
		<script src="http://labs.sixdimensions.com/js/cta.js"></script>
	</body>
</html>
