<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{% if page.title %} {{ page.title }} | {% endif %} Component Bindings Provider | 6D Labs</title>
		{% if page.tags %}<meta content="{{page.tags | join: ', '}}" name="keywords" />{% endif %}
		{% if page.summary %}<meta content="{{ page.summary }}" name="description" />{% endif %}
		<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/skeleton.css" />
		<link rel="stylesheet" href="css/layout.css" />
		<link rel="shortcut icon" href="images/favicon.png" />
	</head>
	<body>
		<div class="container">
			<div id="header" class="seventeen columns">
				<div id="topbar">
					<a href="http://www.sixdimensions.com/">SixDimensions.com</a>
					<a href="http://www.sixdimensions.com/?cat=3">Company Blog</a>
					<a href="http://www.sixdimensions.com/contact-us">Contact Us</a>
				</div>
				<h1>
					<a href="/Component-Bindings-Provider/" id="logo">
						<img width="300" height="84" src="images/logo.png" alt="Six Dimensions Labs">
					</a>
				</h1>
				<div style="clear: both"></div>
			</div>
			<div class="three columns sidebar">
				<div id="nav">
					{% include nav.html %}
				</div>
			</div>
			<div class="seventeen columns main">
				<div class="sixteen columns">
					{{ content }}
				</div>
				<div style="clear: both"></div>
			</div>
			<div id="footer" class="seventeen columns">
				<div class="social-media">
					<b>Find Us On:</b>
					<a href="http://www.linkedin.com/company/108381?trk=pro_other_cmpy">LinkedIn</a> | 
					<a href="https://www.facebook.com/pages/Six-Dimensions/114634888567385">Facebook</a> | 
					<a href="http://twitter.com/#!/6dimensions">Twitter</a>
				</div>
				<div style="clear: both"></div>
				<div id="copyright">
					&copy; Copyright Six Dimensions 2013 &nbsp; &nbsp; <a href="http://www.sixdimensions.com">sixdimensions.com</a> &nbsp; |
					&nbsp; <a href="http://www.sixdimensions.com/privacy-policy/">Privacy Policy</a> &nbsp; |
					&nbsp; <a href="http://www.sixdimensions.com/terms-of-use/">Terms of Use</a>
				</div>
			</div>
		</div>
	</body>
</html>
